{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./server"
        ],
        "alias": {
          "src": "./server/src",
          "controllers": "./server/src/controllers",
          "routes": "./server/src/routes",
          "helpers": "./server/src/helpers",
          "models": "./server/src/models",
          "middlewares": "./server/src/middlewares"
        }
      }
    ],
  ]
}